/*
Colors used

white #ffffff
lightgrey #d3d3d3
mid blue #3fa9db
mid grey  #40484c
black #000000
gold #ffa11e
*/

* {
  box-sizing: border-box;
}

header {
  margin-bottom: 100px;
}

body {
    background-color: #40484c;
    font-family: 'Dosis', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.3;
    color: #d3d3d3;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  text-align: center;
}

h2 {
font-family: 'Ubuntu', sans-serif;
font-size: 22px;
color: #ffa11e;
}

h3 {
font-family: 'Ubuntu', sans-serif;
font-size: 12px;
line-height: 0.5;
}

h4 {
font-family: 'Ubuntu', sans-serif;
font-size:  14px;
}

li {
list-style-type: none;
font-family: 'Ubuntu', sans-serif;
font-size: 20px;
font-weight: 700;
}

span {
 color: #ffa11e;
}

a {
  text-decoration: none;
  color: #d3d3d3;
}

a:visited {
  color: #d3d3d3;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #ffffff;
}

a:active {
  color: #ffffff;
}

img {
  width: 100%;
}

svg {
  width: 100%; height: auto;
}

button,
.button {
  border: none;
  display: inline-block;
  margin: 30px auto;
  font-family: inherit;
  font-weight: bold;
  background-color: #ffa11e;
  color: #40484c !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  transition-duration: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  opacity: 0.7;
}

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  margin-top: 50px;
}

.logo {
  width: 120px;
  margin-top: 20px;
  display: inline-block;
}

.navigation {
  padding: 0;
  float: right;
}

.project-details {
  display:none;
  line-height: 1.3;
  padding: 5%;
}

.center {
  text-align: center;
}

.social_connect {
  text-align: center;
}

.social_logo {
  display: inline-block;
  width: 50px;
  margin: 0 auto;
}


/* mobile screens*/
@media only screen and (max-width: 767px) {
[class*="col-"] {
  font-size: 16px;
  width: 100%;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
  float: left;
  text-align: center;
  }

.row::after {
  content: "";
  clear: both;
  display: table;
  }
}

/* tablets*/
@media only screen and (min-width: 768px) {

.col-1, .col-3 {
    font-size: 16px;
    width: 49%;
    display: inline-block;
    margin-right: 1%;
    margin-bottom: 20px;
    float: left;
    text-align: center;
    line-height: 1.3;
  }

  .col-2, .col-4 {
      font-size: 16px;
      width: 49%;
      display: inline-block;
      margin-right: 0;
      margin-bottom: 20px;
      float: left;
      text-align: center;
      line-height: 1.3;
    }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .navigation {
    padding: 0;
    float: right;
  }

  li {
    display: inline-block;
    margin-left: 10px;
  }

  .paragraph {
    margin: 40px auto;
  }

}

/* desktops*/
@media only screen and (min-width: 992px) {

.col-1, .col-2, .col-3 {
  font-size: 16px;
  width: 24.25%;
  display: inline-block;
  margin-right: 1%;
  margin-bottom: 20px;
  float: left;
  text-align: center;
  line-height: 1.3;
  }

.col-4 {
  font-size: 16px;
  width: 24.25%;
  display: inline-block;
  margin-right: 0;
  margin-bottom: 20px;
  float: left;
  text-align: center;
  line-height: 1.3;
  }

.row::after {
  content: "";
  clear: both;
  display: table;
  }

.navigation {
  padding: 0;
  float: right;
  }

li {
  display: inline-block;
  margin-left: 10px;
  }

.paragraph {
  margin: 40px auto;
  }
}

/* animation */

.animation {
  display: none;
  fill: #40484c;
  width: 200px;
  margin: 0 auto;
}

@keyframes color-change {
    0% {fill: #40484c;}
    100% {fill: #ffffff}
}

.circle_1  {
  animation: 1.5s color-change infinite alternate ease-out;
}
.circle_2  {
  animation: 1.5s color-change infinite alternate ease-out;
  animation-delay: 0.3s;
}
.circle_3  {
  animation:1.5s color-change infinite alternate ease-out;
  animation-delay: 0.6s;
}
.circle_4  {
  animation: 1.5s color-change infinite alternate ease-out;
  animation-delay: 0.9s;
}
.circle_5  {
  animation: 1.5s color-change infinite alternate ease-out;
  animation-delay: 1.2s;
}
.circle_6  {
  animation: 1.5s color-change infinite alternate ease-out;
  animation-delay: 1.5s;
}
.circle_7  {
  animation: 1.5s color-change infinite alternate ease-out;
  animation-delay: 1.8s;
}
